body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111827;
  font-family: Arial;
}

.card {
  width: 260px;
  background: white;
  text-align: center;
  padding: 25px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  transition: 0.4s;
}

.card:hover {
  transform: translateY(-12px);
}

.circle {
  width: 100%;
  height: 100px;
  background: linear-gradient(135deg, #22c55e, #16a34a);
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
}

img {
  width: 120px;
  border-radius: 50%;
  margin-top: 30px;
  border: 5px solid white;
  transition: 0.4s;
  position: relative;
}

.card:hover img {
  transform: rotate(5deg) scale(1.1);
}

h2 {
  margin-top: 15px;
}

p {
  color: gray;
  font-size: 14px;
}
